<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/homePelanggan.css" />
    <title>Home Member</title>
    
  </head>
  <body>
    <nav class="navigation">
      <div class="profile-pic-div">
        <img src="../assets/poto.jpg"" id="photo">
        <input type="file" id="file">
        <label for="file" id="uploadBtn">Choose Photo</label>
      </div>
      <h1>Welcome, <%= nama %></h1>
      <a href="/history">History</a>
      <a href="/tiket">Ticket</a>
      <a href="/">Log out</a>
    </nav>

    <section class="container filter">
      <div class="filter">
        <h2 class="">Meja Tersedia :</h2>
        <!-- dropdown jam dan meja -->
        <form action="" method="" class="">
          <select name="filterjam" class="">
            <option value="">Jam</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
          <select name="filtermeja" id="filter-meja" class="">
            <option value="">Meja</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button type="submit" value="cari" class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
            </svg>
          </button>
          <a href="/homeMember" class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"/>
            </svg>
          </a>
        </form>
      </div>
    </section>

    <section class="container catalogue">
      <div id="meja-container" class="catalogue inner">
        <% let i = 1 %>
        <% for(let data of tiket) { %>
        <form action="/homeMember" method="post">
          <div id="meja" class="catalogue card">
            <div class="container-image">
              <img alt="gambar meja" src="https://cdn.pixabay.com/photo/2012/04/14/15/50/pool-table-34356__480.png" alt="Meja" class="">
            </div>
            <div class="card content">
              <div class="card text-content">
                <h1 class="">Meja <%= data.idM %></h1>
                <p>Jam : <%= data.jam %>.00</p>
                <p class="">Rp.<%= data.harga %></p>
              </div>
              <p class="status"><%= data.tanggal.toLocaleDateString() %></p>
              <div class="card button">
                <button>Pesan</button>
              </div>
            </div>
          </div>
        </form>
        <% i++ %>
        <% } %>
      </div>
    </section>

    <!-- tombol Floating Action Button (FAB) -->
    <div class="fab">
      <a href="/pembayaran">
        <button class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth="1.5"
            stroke="currentColor"
            class=""
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            />
          </svg>
        </button>
      </a>
    </div>

    <!-- container buat nampung isi list cart  -->
    <div id="cart" class=""></div>

    <!-- Cookie -->
    <div class="wrapper">
      <img src="../assets/cookies.png" alt="" />
      <div class="content">
        <header>Cookies</header>
        <p class="cookieword">
          Website ini menggunakan cookies untuk meningkatkan pengalaman anda.
        </p>
        <div class="buttons">
          <button class="item">Saya mengerti</button>
          <a href="#" class="item">Pelajari selengkapnya</a>
        </div>
      </div>
    </div>

    <script>
      const cookieBox = document.querySelector(".wrapper"),
      acceptBtn = cookieBox.querySelector("button");
      acceptBtn.onclick = () => {
        document.cookie = "Cookie=TubesPbw; max-age=" + 60 * 60 * 24; // 1hari//
        if (document.cookie) {
          cookieBox.classList.add("hide");
        } else {
          alert(
            "Cookie can't be set! Please unblock this site from the cookie setting of your browser."
          );
        }
      };
      let checkCookie = document.cookie.indexOf("Cookie=TubesPbw"); // cek set cookie
      checkCookie != -1 ? cookieBox.classList.add("hide"): cookieBox.classList.remove("hide");
      
      //upload foto
      const imgDiv = document.querySelector('.profile-pic-div');
      const img = document.querySelector('#photo');
      const file = document.querySelector('#file');
      const uploadBtn = document.querySelector('#uploadBtn');

      imgDiv.addEventListener('mouseenter', function(){
          uploadBtn.style.display = "block";
      });
      imgDiv.addEventListener('mouseleave', function(){
          uploadBtn.style.display = "none";
      });

      //ketika mau pilih foto
      file.addEventListener('change', function(){
          //this refers to file
          const choosedFile = this.files[0];
          if (choosedFile) {
              const reader = new FileReader(); 
              reader.addEventListener('load', function(){
                  img.setAttribute('src', reader.result);
              });
              reader.readAsDataURL(choosedFile);
          }
      });
    </script>

    <!--Upload profile picture-->
  </body>
</html>